* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
  }
  

body {
    display: flex;
    align-items: center;
    background-color: #FFE4A9;
    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 600px;
    height: fit-content;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
}

h1 {
    color: white;
    background-color: #f6b11c;
    font-size: 36px;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 2px;
    width: fit-content;
    padding: 10px 30px;
    text-align: center;
    border-radius: 100px;
}

p, input, label, button {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

p {
    color: rgb(49, 49, 49);
    margin: 40px 0;
    text-align: center;
}

form {
    width: 70%;
}

.form__container {
    display: flex;
    flex-direction: column;
}

input {
    background-color: aliceblue;
    color: rgb(49, 49, 49);
    margin-bottom: 20px;
    padding: 8px 16px;
    border: 1px solid #E4F3FF;
    border-radius: 20px;
}

label {
    color: rgb(49, 49, 49);
    margin-bottom: 4px;
}

button {
    background-color: #3FA1FC;
    color: white;
    width: 160px;
    padding: 12px;
    border: none;
    border-radius: 40px;
}


